# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/.next
frontend/.next/
/out
*.tsbuildinfo

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.*.local
.env.production.local

# IDE
.vscode/
.idea/
*.suo
*.sln
*.sw?
*.swp
*.iml

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log

# Database
*.sqlite
*.db
